* {
    font-family: Chewy, sanserif;
    
}
body {
    background-image: linear-gradient(#FF5D8F,#FF87AB);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    color: #FFF0F3;
    font-size: 60px;
}
form {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
div {
    display: flex;
    flex-direction: column;
}
label {
    padding: 10px;
    font-size: 30px;
     color: transparent;              /* hide fill */
    -webkit-text-stroke: 1.5px #FFF0F3; /* thickness and outline color */         /* standard property (not widely supported yet) */
  font-weight: bold;
  font-size: 48px;
}
input, select {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 14px 20px;         /* this makes it taller */
    font-size: 30px;
    border: solid #FFB3C1 5px;
    border-radius: 10px;
    color: #FFB3C1;
    background-color: white;
       /* optional: improves visibility */
}
button {
  margin: 30px auto;
  width: 300px;
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  background-color: #FFB3C1;
  color: white;
   border: solid white 5px;
}
/* Small tablets and larger phones (415px to 600px) */
@media only screen and (min-width: 200px) and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  input, select, textarea {
    width: 60% !important;
    font-size: 20px;
    padding: 10px 15px;
  }
  h1 {
    font-size: 40px;
  }
  button {
    width: 60% !important;
    font-size: 22px;
    height: 45px;
  }
  label {
    font-size: 36px;
    -webkit-text-stroke-width: 1.2px;
  }
}

